<% include ../layouts/header %>
<br>
<div class="container">

<div class="row">
    <div class="col-md-3">
        <p class="lead">YelpCamp</p>
        <div class="list-group">
            <li class="list-group-item">Info 1</li>
            <li class="list-group-item">Info 1</li>
            <li class="list-group-item">Info 1</li>
        </div>
    </div>

    <div class="col-md-9">
        <h1><%=campground.name %></h1>
        <div class="card">
            <img class="card-img-top" src="<%= campground.image %>">
            <div class="card-body">
                <h2 class="card-title"><%=campground.name %></h2>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text"> <em> Submitted by <%= campground.author.username%> </em> </p>
            </div>
            <div class="card-header">
                Comments
            </div>
            <ul class="list-group list-group-flush">
                <% campground.comments.forEach(function(comment){ %>
                    <li class="list-group-item"> 
                        <div class="row">
                            <div class="col-md-12">
                                <strong> <%= comment.author.username %></strong>
                                <span class="float-right">10 Days ago</span> 
                                <p> <%= comment.text %> </p>
                            </div>
                        </div>  
                    </li>
                <% }) %>
            <ul>
            <div class="card-body">
            <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-secondary"> Add new Comment</a>
            </div>
        </div>
        
    </div>
</div>
<% include ../layouts/footer %>